* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* .spinner-wrapper{
  width: 100%;
  height: 100%;
  background-color: #151515;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.spinner::before,
.spinner:after{
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 100%;
  height: 100%;
  background-image:linear-gradient(90deg, #ff00cc 0%,#333399 100% );
  animation: spin .5s infinite linear;
}
.spinner:after {
  width: 90%;
  height: 90%;
  background-color: #151515;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }

} */

body {
  font-family: "DM Sans", sans-serif;
  color: #727272;
  font-size: 15px;
}
section {
  padding: 85px 0px;
  position: relative;
}
.navbar {
  padding: 20px 0px;
  transition: all 0.3s ease;
}
.navbar.scrolled {
  background-color: white;
}
.navbar-brand img {
  width: 130px;
}
.navbar .nav-link {
  padding: 0px 20px !important;
  color: white !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #7e57ff !important;
}
.navbar.scrolled .nav-link {
  color: #081828 !important;
}
.navbar.scrolled .nav-link:hover {
  color: #7e57ff !important;
}
.navbar.scrolled .nav-link.active {
  color: #7e57ff !important;
}
.navbar .custom-btn {
  background-color: white;
  color: #081828;
}
.navbar.scrolled .custom-btn {
  background-color: #7e57ff;
  color: white;
}
.navbar.scrolled .custom-btn:hover {
  background-color: #081828;
}

.navbar .custom-btn:hover {
  background-color: #7e57ff;
  color: white;
}
.dropdown-menu {
  border: none;
}
/* .navbar-nav .pages{
  opacity: 0;
}
.navbar-nav #pages-button:hover .pages{
opacity: 1;
} */
#main-page {
  background-image: url(../img/bg-shapes.svg);
  background-color: #081828;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 240px 0 140px;
}
#main-page .text-area h4 {
  color: #7e57ff;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 20px;
}
#main-page .text-area h1 {
  font-weight: 700;
  color: white;
  padding-bottom: 20px;
}
#main-page .text-area p {
  color: #e6e6e6;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 25px;
}
.custom-btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  background-color: #7e57ff;
  color: white;
  text-decoration: none;
  padding: 14px 30px;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.custom-btn:hover {
  color: #081828;
  background-color: white;
}
#main-page .image-area img {
  position: absolute;
  bottom: 0px;
  left: 53%;
}

#service-page {
  background-color: #f4f7fa;
}

.title p:first-child {
  color: #7e57ff;
  font-weight: 600;
}
.title h2 {
  color: #081828;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.title p:last-child {
  font-size: 15px;
  line-height: 26px;
}
#service-page .card {
  height: 300px;
  border-radius: 20px;
  padding: 40px 50px;
  border-color: white;
  box-shadow: 0 0 30px rgb(81 94 125 / 8%);
  margin-top: 30px;
  transition: all 0.2s ease;
  cursor: pointer;
}
#service-page .card:hover {
  border-top: 3px solid #7e57ff;
  border-bottom: 3px solid #7e57ff;
  transform: scale(1.02);
}
#service-page .card .card-icon i {
  display: inline-block;
  border-radius: 10px;
  width: 65px;
  height: 65px;
  line-height: 65px;
  background-color: #7e57ff;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}
#service-page .card .card-text h4 {
  color: #081828;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 20px;
}
#service-page .card .card-text p {
  font-size: 15px;
  line-height: 26px;
}
#study-page .title a {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 23px;
  color: #081828;
  background-color: #eff2f9;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-right: 10px;
}
#study-page .title a:hover {
  background-color: #7e57ff;
  color: #eff2f9;
}
#study-page .wrapper {
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 25px;
}
#study-page .wrapper .works-img img {
  transition: all 0.3s ease;
}
#study-page .wrapper .works-content {
  position: absolute;
  left: 15px;
  bottom: 15px;
  background-color: white;
  border-radius: 5px;
  color: black;
  padding: 20px 35px 20px 20px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}
#study-page .wrapper .works-content p {
  color: #727272;
}
#study-page .wrapper .works-content h4 {
  margin: 0px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}
#study-page .wrapper:hover img {
  transform: scale(1.1);
}
#video-page {
  position: relative;
}
#video-page .holder {
  background-color: #081828;
  height: 500px;
  position: relative;
}
#video-page .video-content {
  background: #ffffff24;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid #eeeeee40;
  position: absolute;
  bottom: -200px;
  width: 80%;
  box-shadow: 0 0 50px rgb(0 0 0 / 9%);
}
#video-page .video-content .video-inner {
  background-color: white;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  padding: 90px;
}
#video-page .video-content .video-inner .title h4 {
  font-size: 14px;
  color: #7e57ff;
}
#video-page .video-content .video-inner img.img1 {
  height: 100px;
  width: 100px;
  position: absolute;
  left: -10px;
  top: 30px;
}
#video-page .video-content .video-inner img.img2 {
  height: 120px;
  width: 120px;
  position: absolute;
  right: -60px;
  bottom: 100px;
}
#video-page .video-content .video-inner .video a {
  display: inline-block;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  background-color: #7e57ff;
  color: white;
  font-size: 40px;
  transition: all 0.3s ease;
}
#video-page .video-content .video-inner .video a:hover {
  background-color: #081828;
  transform: scale(1.05);
}
#team-page {
  padding-top: 0px;
}
#team-page .expert .image img {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #eee;
}
#team-page .expert .text h4 {
  margin-top: 20px;
  font-size: 16px;
  color: #081828;
  font-weight: bolder;
}
#team-page .expert .text p {
  font-size: 14px;
}
#team-page .expert .media a {
  opacity: 0;
  transition: all 0.5s ease;
  color: #081828;
}

#team-page .expert:hover .media a {
  opacity: 1;
}
#testimonial-page {
  background-color: #f4f7fa;
}
#testimonial-page .testimonial-card {
  background-color: white;
  padding: 50px 40px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}
#testimonial-page .testimonial-card .testimonial-circle {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #7e57ff;
  border-radius: 50%;
  top: -30px;
  right: -30px;
}
#testimonial-page .testimonial-card .testimonial-text p {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 30px;
}
#testimonial-page .testimonial-card img {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}
#testimonial-page .testimonial-card h4 {
  font-size: 15px;
  color: #142331ef;
  font-weight: bold;
}
#testimonial-page .testimonial-card span {
  display: inline-block;
  font-size: 13px;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 75px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 6px;
  border-radius: 50px;
  transition: all 0.3s ease;
  background-color: #081828;
}
.owl-theme .owl-dots .owl-dot.active span {
  width: 27px;
  background-color: #7e57ff;
}
#news-page .title h4 {
  font-size: 15px;
  color: #7e57ff;
  font-weight: bold;
}
#news-page .news-card {
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0 0 0 / 9%);
  overflow: hidden;
}
#news-page .news-card .news-image img {
  transition: all 0.3s ease;
}

#news-page .news-card:hover .news-image img {
  transform: scale(1.1);
}
#news-page .news-card .news-content {
  padding: 35px;
}

#news-page .news-card .news-content .icon i {
  font-size: 15px;
  margin-right: 8px;
  color: #7e57ff;
}
#news-page .news-card .news-content .icon span {
  font-size: 13px;
  transition: all 0.3s ease;
}
#news-page .news-card .news-content .icon span:hover {
  color: #7e57ff;
  cursor: pointer;
}

#news-page .news-card .news-content h4 a {
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  color: #081828;
  font-weight: 700;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}
#news-page .news-card .news-content p {
  font-size: 16px;
  line-height: 28px;
}
#news-page .news-card .news-content h4:hover {
  color: #7e57ff;
  cursor: pointer;
}
#news-page .news-card .news-content a {
  color: black;
  font-size: 14px;
  transition: all 0.3s ease;
}
#news-page .news-card .news-content a:hover {
  color: #7e57ff;
}
#faq-page {
  background-color: #f4f7fa;
}
#faq-page .title h4 {
  font-size: 15px;
  color: #7e57ff;
  font-weight: bold;
}
#brand-page {
  padding: 60px 0;
}
#brand-page .logo {
  padding: 0 30px;
}

#start-page {
  background-color: #f4f7fa;
}
#start-page .text {
  font-size: 28px;
  line-height: 42px;
  color: #081828;
}
#start-page .text h2 {
  font-weight: bolder;
}
#start-page .text p {
  color: #7e57ff;
  font-weight: bolder;
}
#start-page .button .custom-btn:first-child:hover {
  background-color: #081828;
  color: #eee;
}
#start-page .button .custom-btn:last-child {
  background-color: #081828;
  color: #eee;
}
#start-page .button .custom-btn:last-child:hover {
  background-color: #7e57ff;
}
#footer-page {
  color: #eee;
  background-color: #081828;
  padding: 90px 0px;
  padding-bottom: 0px;
}
#footer-page .top .footer-card .logo {
  padding-right: 190px;
}
#footer-page .top .footer-card .logo img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
#footer-page .top .footer-card p {
  line-height: 28px;
}
#footer-page .top .footer-card h3 {
  font-size: 14px;
}
#footer-page .top .footer-card .media a {
  color: white;
}
#footer-page form {
  position: relative;
}
#footer-page form input {
  background-color: #7272721f;
  border: none;
  border-radius: 8px;
  color: #eee;
}
#footer-page form input:focus {
  box-shadow: none !important;
}
#footer-page form input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 3;
}
footer form .myBtn {
  padding: 10px 15px !important;
  border: none !important;
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 5px;
  background-color: #72727231;
  color: #eee;
  transition: all 0.4s ease;
}
footer form .myBtn:hover {
  background-color: #7e57ff;
}
#footer-page .bottom a {
  color: #eee;
  transition: all 0.3s ease;
}
#footer-page .bottom a:hover {
  color: #7e57ff;
  text-decoration-color: #7e57ff;
}
#footer-page .footer-list p:hover {
  transition: all 0.4s ease;
}
#footer-page .footer-list p:hover {
  color: #7e57ff;
  cursor: pointer;
}
#footer-page .footer-card .media a {
  transition: all 0.3s ease;
}
#footer-page .footer-card .media a:hover {
  color: #7e57ff;
}
#about-us {
  padding-top: 160px;
  padding-bottom: 120px;
  background-color: #081828;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-us .text h1 {
  color: white;
  font-size: 26px;
  font-weight: 700;
}
#about-us .text a {
  color: white;
  text-decoration: none;
}
#economy-page {
  padding-bottom: 0px;
}
#economy-page .content {
  padding: 0px 40px;
}
#economy-page .content h4 {
  color: #7e57ff;
  font-size: 13px;
  font-weight: bolder;
  margin-bottom: 20px;
}
#economy-page .content h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  color: #081828;
  margin-bottom: 20px;
}
#economy-page .content p {
  font-size: 16px;
  line-height: 28px;
}
#economy-page .content .list i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  background-color: #7e57ff;
  color: white;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 38px;
}
#economy-page .content .list h2 {
  font-size: 15px;
  color: #081828;

  margin: 0px;
}
#economy-page .content .list p {
  font-size: 15px;
  line-height: 24px;
}
#brand {
  background-color: #f4f7fa;
  padding: 30px 0px;
}
#pricing {
  background-color: #f4f7fa;
}
#pricing .title h4 {
  color: #7e57ff;
  font-size: 15px;
  font-weight: 600;
}
#pricing .pricing-card {
  padding: 50px 35px;
  text-align: left;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-top: 40px;
  background-color: #fff;
  position: relative;
}
#pricing .pricing-card span {
  position: absolute;
  right: 20px;
  top: 18px;
  color: #7e57ff;
  font-weight: 500;
}
#pricing .pricing-card h4 {
  font-size: 25px;
  margin-bottom: 8px;
  color: #7e57ff;
}
#pricing .pricing-card p {
  font-size: 16px;
  line-height: 28px;
}
#pricing .pricing-card h3 {
  color: #081828;
  padding-left: 16px;
  font-size: 45px;
  font-weight: bolder;
  position: relative;
}
#pricing .pricing-card h3 sup {
  font-weight: 500;
  color: #4f4f4f;
  font-size: 17px;
  position: absolute;
  left: 0;
  top: 3px;
}
#pricing .pricing-card h3 sub {
  color: #4f4f4f;
  font-size: 14px;
}
#pricing .pricing-card ul {
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}
#pricing .pricing-card ul i {
  color: #68d585;
}
#pricing .pricing-card ul li {
  list-style: none;
  color: #081828;
  font-size: 15px;
  margin-bottom: 16px;
}
#pricing .pricing-card ul .cancel li {
  color: #727272;
}
#pricing .pricing-card ul .cancel li i {
  color: #727272;
}
#pricing .pricing-card a:hover {
  background-color: #081828;
  color: white;
}
#pricing .pricing-card a i {
  padding-left: 10px;
}
#pricing .second a {
  background-color: #081828;
  color: white;
}
#pricing .second a:hover {
  background-color: #7e57ff;
  color: white;
}
#sign-in {
  background-color: #f4f7fa;
}
.form-inner {
  position: relative;
  background-color: white;
  padding: 50px 70px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 8%);
}
#sign-in .form-inner h3 {
  font-size: 25px;
  font-weight: 700;
  color: #081828;
  margin-bottom: 8px;
}
#sign-in .form-inner p {
  font-size: 16px;
  line-height: 28px;
}
.form-required {
  position: relative;
}
.form-required input {
  position: relative;
  border-radius: 25px;
  padding: 13px 50px;
  border: none;
  background-color: #f4f7fa;
  color: #505050;
}
.form-required input:focus {
  background-color: #f4f7fa;
  border: 1px solid #7e57ff;
  box-shadow: none !important;
}
#sign-in .form-inner .form-required i.bi-envelope {
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: 16px;
}
#sign-in .form-inner .form-required i.bi-lock {
  position: absolute;
  bottom: 16px;
  left: 20px;
  font-size: 16px;
}
#sign-in .form-inner .form-check input:checked {
  color: #7e57ff;
}
#sign-in .form-inner .forgot {
  text-decoration: none;
  color: #888;
  transition: all 0.3s ease;
}
#sign-in .form-inner .forgot:hover {
  color: #7e57ff;
}

.hrdivider {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.hrdivider span {
  position: absolute;
  top: -11px;
  left: 42%;
  background: #fff;
  padding: 0 20px;
  font-size: 16px;
}
a.google-btn {
  padding: 14px 25px 14px 15px;
  border: 1px solid #eee;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  color: #727272;
  text-decoration: none;
}
h4.create-account {
  font-size: 16px;
  font-weight: 500;
  color: #081828;
}
h4.create-account a {
  color: #7e57ff;
  text-decoration: none;
}
h4.create-account a:hover {
  text-decoration: #7e57ff;
}
#sign-in .form-inner .custom-btn:hover {
  background-color: #081828;
  color: white;
}
#sign-up {
  background-color: #f4f7fa;
}

#sign-up .bi-person {
  position: absolute;
  top: 15px;
  left: 35px;
}
#sign-up .form-required i {
  position: absolute;
  top: 15px;
  left: 35px;
}
#sign-up h3 {
  font-size: 25px;
  font-weight: 700;
  color: #081828;
  margin-bottom: 8px;
}

#sign-up .custom-btn:hover {
  background-color: #081828;
  color: white;
}
#mail-success {
  background-color: #081828;
  height: 100vh;
}
#mail-success .mail-content {
  display: inline-block;
  padding: 70px 60px;
  background-color: #fff;
  border-radius: 10px;
}
#mail-success .mail-content h2 {
  font-size: 44px;
  color: #7e57ff;
  margin-bottom: 20px;
  font-weight: 700;
}
#mail-success .mail-content p {
  margin-bottom: 30px;
  color: #081828;
  font-size: 16px;
}
#mail-success .custom-btn:hover {
  background-color: #081828;
  color: white;
}
#error {
  background-color: #081828;
  height: 100vh;
}
#error .error-content {
  display: inline-block;
  padding: 70px 60px;
  background-color: #fff;
  border-radius: 10px;
}
#error .error-content h1 {
  color: #7e57ff;
  margin-bottom: 25px;
  font-weight: 800;
}
#error .error-content h2 {
  margin-bottom: 10px;
  color: #081828;
  font-weight: 700;
  line-height: 35px;
}
#error .error-content p {
  font-weight: 400;
  margin-bottom: 40px;
  color: #888;
}
#contact {
  background-color: #f4f7fa;
}
#contact h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 40px;
  color: #081828;
}
#contact p {
  font-size: 16px;
  line-height: 28px;
}
#contact h3 {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin-bottom: 18px;
  color: #081828;
}
#contact input,
#contact textarea {
  padding: 10px 18px;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: all 0.4s ease;
}
#contact input:focus,
#contact textarea:focus {
  box-shadow: none;
  border-color: #7e57ff;
}
textarea {
  resize: none;
}
#contact .custom-btn:hover {
  background-color: #081828;
  color: white;
}
button.accordion-button {
  box-shadow: none !important;
}
button.accordion-button:focus {
  background-color: #7e57ff !important;
  color: white !important;
}
.scroll-top {
  width: 45px;
  height: 45px;
  line-height: 45px;
  background: #7e57ff;
  font-size: 14px;
  color: #fff !important;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
}
.scroll-top .bi-arrow-up {
  font-size: 20px;
  color: white !important;
}
.map-section {
  background-color: #f4f7fa;
  padding-bottom: 110px;
}
.map-section .mapouter {
  padding: 10px;
  background-color: #fff;
}
.map-section .mapouter iframe {
  height: 500px;
}
@media only screen and (max-width: 767px) {
  /* .navbar .navlink a{
    color: #081828!important;
  } */
  .navbar .nav-link {
    color: #081828 !important;
  }

  .navbar-collapse {
    position: absolute;
    top: 75px !important;
    left: 10;
    width: 95%;
    background-color: white;
    box-shadow: 0 15px 20px 0 rgb(0 0 0 / 10%);
    padding: 30px 20px;
    max-height: 350px;
    overflow-y: scroll;
    border-top: 1px solid #eee;
    border-radius: 8px;
  }
  .navbar .custom-btn {
    display: none;
  }
  #main-page {
    background-image: none;
    padding: 110px 0 91px;
  }
  #main-page .text-area h4 {
    font-size: 18px;
    padding-bottom: 12px;
  }
  #main-page .image-area img {
    display: none;
  }
  #video-page .video-content .video-inner {
    padding: 60px 45px;
  }
  #video-page .video-content {
    padding: 0px;
    width: 93%;
  }
  #video-page .holder {
    height: 250px;
  }
  #video-page .video-content .video-inner h2 {
    font-size: 22px;
  }
  #video-page .video-content .video-inner img.img1 {
    width: 80px;
    height: 80px;
  }
  #video-page .video-content .video-inner img.img2 {
    width: 80px;
    height: 80px;
    right: -50px;
    bottom: 20px;
  }
  #video-page .video-content .video-inner p {
    font-size: 14px;
    line-height: 1.8;
  }
  #study-page {
    padding-bottom: 0px;
  }
  #brand-page .logo {
    padding: 15px 30px;
    border: 1px solid #eee;
  }
  #brand-page .logo img {
    width: 74% !important;
  }
  #footer-page .top .footer-card .logo {
    padding: 0px;
  }
  #economy-page .content {
    padding: 0px;
  }
  .form-inner {
    padding: 50px 20px;
  }
  
  #error .error-content {
    padding: 30px 25px;
  }
  #error .error-content h1 {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar-collapse {
  z-index: -1;
  position: absolute;
    top: 75px !important;
    left: 10;
    width: 90%;
    background-color: white;
    box-shadow: 0 15px 20px 0 rgb(0 0 0 / 10%);
    padding: 30px 30px;
    max-height: 350px;
    overflow-y: scroll;
    border-top: 1px solid #eee;
    border-radius: 8px;
  }
  #navbar .navbar-collapse{
    background-color: white!important;
}
.navbar .nav-link {
  color: #081828 !important;
}
#navbar .myBtn{
    display: none;
}
  #main-page {
    background-image: none;
  }
  #main-page .image-area img {
    display: none;
  }
  #main-page .text-area h4 {
    font-size: 20px;
  }
  #main-page .text-area p {
    padding: 0px 50px;
  }
  #video-page {
    padding-top: 0px;
  }
  #video-page .video-content {
    width: 90%;
  }
  #video-page .holder {
    height: 380px;
  }
  #brand-page .logo {
    padding: 0 10px;
  }
  #brand-page .logo img {
    width: 100% !important;
  }
  #about-us {
    padding: 90px 0px;
  }
  /* #sign-in .form {
    padding: 0px 60px;
  } */

  #mail-success h1 {
    font-size: 50px;
  }
  #error .error-content {
    margin-top: 33%;
  }
  footer form {
    padding: 0px;
  }
}
